* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(45deg, teal 50%, wheat 50%);
  min-height: 100vh;
}

.wrapper {
  width: 50%;
  margin: 2rem auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.main {
  color: #fff;
  padding: 4rem;
}
